<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ENVIRONMENT-->
    <!--add key="ENVIRONMENT" value="CUS"/-->
    <add key="ENVIRONMENT" value="TEST"/>
    <!--add key="ENVIRONMENT" value="ACC"/-->
    <!--add key="ENVIRONMENT" value="PROD"/-->

    <add key="APPLICATION_VERSION" value=""/>
    <add key="IS_TEST_RUNNING_THROUGH_JENKINS" value="false"/>

    <!-- WINDOWS/DESKTOP APPLICATION -->
    <add key="PATH_APPLICATION_TO_LAUNCH" value=" "/>
    <add key="PATH_APPLICATION_TO_LAUNCH_EXTENTION" value=" "/>
    <add key ="APPLICATION_PROCESS_NAME" value=" "/>
    <add key ="MAIN_WINDOW_APPLICATION" value=" "/>

    <!-- Indicate which sub menus should be activated-->
    <add key ="MAIN_MENU_APPLICATION_DEFAULT_SUB_MENU_NAMES" value="...,...,...,"/>
    <!-- start desktop application true or false(false used for development)-->
    <add key ="START_DESCTOP_APPLICATION" value="false"/>


    <!--WEB APPLICATION-->
    <!--add key ="WEB_BROWSER_TO_RUN" value="FireFoxDriver"/-->
    <add key ="WEB_BROWSER_TO_RUN" value="InternetExplorerDriver"/>
    <!-- ENVOVIA-->
    <add key ="WEB_APPLICATION_URL_CUS" value="http://"/>
    <add key ="WEB_APPLICATION_URL_TEST" value="http://testebbasss01.Sogeti.com/FlexNet/Kiosk/LoginSwipe.aspx?LoginName=SCN_HASA_ORS (_'http://testebbasss01.Sogeti.com/FlexNet/Kiosk/LoginSwipe.aspx?LoginName=SCN_HASA_ORS_')"/>
    <add key ="WEB_APPLICATION_URL_ACC" value="http://"/>
    <add key ="WEB_APPLICATION_URL_PROD" value="http://"/>


    <!-- WEB_APPLICATION_CLEAR_IE_CACHE BOOLEAN VALUE true/false-->
    <add key ="WEB_APPLICATION_CLEAR_IE_CACHE" value="true"/>



    <!-- WEB AND DESKOP APPLICATION PROCESSES TO KILL-->
    <!-- BOOLEAN(true/false) INDICATING WHETHER TO KILL THE APPLICATION PROCESS-->
    <add key="KILL_APPLICATION_PROCCESS" value="true"/>
    <!-- GIVE ALL THE PROCESSES SEPERATED BY COMMA "," -->
    <add key ="APPLICATION_PROCESS_NAMES_TO_KILL" value="...,...,..."/>



    <!--TEST DATA ENV-->
    <add key="USER_DATA_SHEET_NAME" value="USER_DATA_DEV"/>
    <add key="TD_GEN_DEV" value="TD_GEN_DEV"/>



    <!-- TIME OUT PARAMETERS FOR WEB AND DESKTOP APPLICATIONS -->
    <add key="GLOBAL_TIMEOUT_TIME_IN_MSEC" value="30000"/>
    <add key="GLOBAL_TIMEOUT_TIME_IN_MSEC_WITHOUT_FAILING" value="10000"/>
    <add key="START_APPLICATION_TIMEOUT_TIME_IN_MSEC" value="60000"/>
    <add key="GENERAL_DELAY_FOR_EACH_TEST_STEP" value="500"/>

    <!--WHITE INERNAL TIMEOUT CONFIGURATION-->
    <add key="WHITE_BUSY_TIMEOUT" value="5000"/>
    <add key="WHITE_UI_AUTOMATION_ZERO_WINDOW_BUG_TIMEOUT" value="30000"/>


    <add key="MEASURE_RESPONSE_TIME" value="false"/>

    <!-- RERUN FAILED TEST CASES-->
    <add key="PATH_NUNIT_PACKAGE_CONSOLE_EXE" value="packages\NUnit-2.6.2\NUnit-2.6.2\bin\nunit-console.exe /run:"/>
    <add key="PATH_SAF_DLL_BIN_DEBUG" value="\bin\Debug\"/>
    <add key="PATH_RERUN_FAILED_TEST_CASES_FOLDER" value="C:/Dev/Jenkins/ReRunFailedTestCases/"/>

    <add key ="PATH_DYNAMIC_TEST_DATA" value="C:Temp"/>


  </appSettings>
</configuration>
