<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ENVIRONMENT-->
    <add key="ENVIRONMENT" value="ACC"/>

    <!--add key="VERSION" value="_R24"/-->
    <add key="CATIA_VERSION" value="_R19"/>

    <add key="IS_TEST_RUNNING_THROUGH_JENKINS" value="false"/>

    <!-- WINDOWS/DESKTOP APPLICATION -->
    <add key="PATH_APPLICATION_TO_LAUNCH_CATIA_5_R24" value="C:\DS\B24SP1\win_b64\code\bin\CATSTART.exe "/>
    <add key="PATH_APPLICATION_TO_LAUNCH_CATIA_5_EXTENTION_R24" value=" -run C:\DS\B24SP1\win_b64\code\bin\CNEXT.exe -env CATIA.RoD.txt -direnv \\global\catiaconfig\ENV_VARIABLE_TO_REPLACE\B24\CATEnv -nowindow"/>
    <add key="PATH_APPLICATION_TO_LAUNCH_CATIA_5_R19" value="C:\DS\B19SP7\win_b64\code\bin\CATSTART.exe "/>
    <add key="PATH_APPLICATION_TO_LAUNCH_CATIA_5_EXTENTION_R19" value=" -run C:\DS\B19sp7\win_b64\code\bin\CNEXT.exe -env CATIA.RoD.txt -direnv \\global\dfs03\ENV_VARIABLE_TO_REPLACE\B19\SP7_x64\CATEnv -nowindow"/>


    <add key ="APPLICATION_PROCESS_NAME_CATIA_5" value="CNEXT"/>
    <add key ="MAIN_WINDOW_CATIA_V5_VPM_ROD_R24" value="CATIA V5.VPM.RoD."/>
    <add key ="MAIN_WINDOW_CATIA_V5_VPM_ROD_R19" value="CATIA V5.VPM.RoD."/>
    <!-- Indicate which sub menus should be activated-->
    <add key ="MAIN_MENU_APPLICATION_DEFAULT_SUB_MENU_NAMES" value="LCA_Icons,EnoviaLCA,SCVPartAndDocToolbar,SCVDataExchangeToolbar"/>
    <!-- start desktop application true or false(false used for development)-->
    <add key ="START_DESCTOP_APPLICATION" value="true"/>


    <!-- CONTROL M-->
    <add key="PATH_APPLICATION_TO_LAUNCH_CONTROL_M_ENTERPRISE_MANAGER" value="C:\Program Files\BMC Software\Control-M EM 7.0.00\Default\bin\emgui.exe"/>
    <add key="PATH_APPLICATION_TO_LAUNCH_CONTROL_M_ENTERPRISE_MANAGER_EXTENTION" value=""/>
    <add key ="APPLICATION_PROCESS_NAME_CONTROL_M_ENTERPRISE_MANAGER" value="emgui"/>
    <add key ="USER_NAME_CONTROL_M_ENTERPRISE_MANAGER" value="[vgaf7z"/>
    <add key ="ENVIRONMENT_CONTROL_M_ENTERPRISE_MANAGER" value=" connected to CTM_Sogeti_GUI_PREPROD]"/>
    <add key="MAIN_WINDOW_CONTROL_M" value="Control-M/Enterprise Manager (Default) - "/>




    <!--WEB APPLICATION-->
    <!--add key ="WEB_BROWSER_TO_RUN" value="FireFoxDriver"/-->
    <add key ="WEB_BROWSER_TO_RUN" value="InternetExplorerDriver"/>

    <!-- ENVOVIA-->
    <add key ="WEB_APPLICATION_URL_ENOVIA_PORTAL" value="http://s0269:10929/B19ENV_VARIABLE_TO_REPLACE/html/ENOVIAPortal"/>
    <!-- WEB_APPLICATION_CLEAR_IE_CACHE BOOLEAN VALUE true/false-->
    <add key ="WEB_APPLICATION_CLEAR_IE_CACHE" value="true"/>


    <!--MOD ARC-->
    <add key="WEB_APPLICATION_URL_MOD_ARC" value="http://modarc-ENV_VARIABLE_TO_REPLACE.Sogeti.com/enovia/WebClient/MatrixAppletXML.jsp"/>
    <add key="APPLICATION_PROCESS_NAME_MOD_ARC" value="java"/>


    <!-- ICD -->
    <add key="WEB_APPLICATION_URL_ICD_ACC" value="https://icdicspreprod.Sogeti.com/web/initsailusr.aspx?usr="/>
    
    <!-- WEB AND DESKOP APPLICATION PROCESSES TO KILL-->
    <!-- BOOLEAN(true/false) INDICATING WHETHER TO KILL THE APPLICATION PROCESS-->
    <add key="KILL_APPLICATION_PROCCESS" value="true"/>
    <!-- GIVE ALL THE PROCESSES SEPERATED BY COMMA "," -->
    <add key ="APPLICATION_PROCESS_NAMES_TO_KILL" value="CNEXT,CATSTART,CATSysDemon,CATJPESStarter,emgui,iexplore,IEDriverServer"/>



    <!--TEST DATA ENV-->
    <add key="TEST_DATA_SHEET_NAME" value="TEST_DATA_DEV"/>
    <add key="USER_DATA_SHEET_NAME" value="USER_DATA_DEV"/>

    <!-- TIME OUT PARAMETERS FOR WEB AND DESKTOP APPLICATIONS -->
    <add key="GLOBAL_TIMEOUT_TIME_IN_MSEC" value="30000"/>
    <add key="GLOBAL_TIMEOUT_TIME_IN_MSEC_WITHOUT_FAILING" value="30000"/>
    <add key="START_APPLICATION_TIMEOUT_TIME_IN_MSEC" value="60000"/>

    <add key="MEASURE_RESPONSE_TIME" value="false"/>

    <!-- RERUN FAILED TEST CASES-->
    <add key="PATH_NUNIT_PACKAGE_CONSOLE_EXE" value="packages\NUnit-2.6.2\NUnit-2.6.2\bin\nunit-console.exe /run:"/>
    <add key="PATH_SAF_DLL_BIN_DEBUG" value="\bin\Debug\"/>
    <add key="PATH_RERUN_FAILED_TEST_CASES_FOLDER" value="C:/Dev/Jenkins/ReRunFailedTestCases/"/>

  </appSettings>
</configuration>
