<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ENVIRONMENT-->
    <add key="ENVIRONMENT" value="Sys"/>


    <add key="IS_TEST_RUNNING_THROUGH_JENKINS" value="false"/>

    <!-- WINDOWS/DESKTOP APPLICATION -->
    <add key="PATH_APPLICATION_TO_LAUNCH_CATIA_5" value="C:\DS\B19SP7\win_b64\code\bin\CATSTART.exe "/>
    <add key="PATH_APPLICATION_TO_LAUNCH_CATIA_5_EXTENTION" value=" -run C:\DS\B19sp7\win_b64\code\bin\CNEXT.exe -env CATIA.RoD.txt -direnv \\global\dfs03\Acc\B19\SP7_x64\CATEnv -nowindow"/>
    <add key ="APPLICATION_PROCESS_NAME_CATIA_5" value="CNEXT"/>
    <!-- Indicate which sub menus should be activated-->
    <add key ="MAIN_MENU_APPLICATION_DEFAULT_SUB_MENU_NAMES" value="LCA_Icons,EnoviaLCA,SCVPartAndDocToolbar,SCVDataExchangeToolbar"/>
    <!-- start desktop application true or false(false used for development)-->
    <add key ="START_DESCTOP_APPLICATION" value="true"/>


    <!--WEB APPLICATION-->
    <!--add key ="WEB_BROWSER_TO_RUN" value="FireFoxDriver"/-->
    <add key ="WEB_BROWSER_TO_RUN" value="InternetExplorerDriver"/>
    <!-- ENVOVIA-->
    <add key ="WEB_APPLICATION_URL_ENOVIA_PORTAL" value="http://s0269:10929/B19ENV_VARIABLE_TO_REPLACE/html/ENOVIAPortal"/>
    <add key ="WEB_APPLICATION_ENOVIA_PORTAL_SECURITY_WINDOWS_USER_NAME" value="gkhekp"/>
    <add key ="WEB_APPLICATION_ENOVIA_PORTAL_SECURITY_WINDOWS_PASSWORD" value="Tisdag12"/>
    <add key ="WEB_APPLICATION_ENOVIA_PORTAL_USER_NAME" value="user1"/>
    <add key ="WEB_APPLICATION_ENOVIA_PORTAL_PASSWORD" value="user1"/>


    <!-- ICD -->
    <add key="WEB_APPLICATION_URL_ICD_ACC" value="https://icdicspreprod.Sogeti.com/web/initsailusr.aspx?usr="/>

    <!-- WEB AND DESKOP APPLICATION PROCESSES TO KILL-->
    <!-- BOOLEAN(true/false) INDICATING WHETHER TO KILL THE APPLICATION PROCESS-->
    <add key="KILL_APPLICATION_PROCCESS" value="true"/>
    <!-- GIVE ALL THE PROCESSES SEPERATED BY COMMA "," -->
    <add key ="APPLICATION_PROCESS_NAMES_TO_KILL" value="CNEXT,CATSTART,CATSysDemon,CATJPESStarter,emgui,iexplore,IEDriverServer"/>


    <!--WHITE INERNAL TIMEOUT CONFIGURATION-->
    <add key="WHITE_BUSY_TIMEOUT" value="30000"/>
    <add key="WHITE_UI_AUTOMATION_ZERO_WINDOW_BUG_TIMEOUT" value="30000"/>



    <!--TEST DATA ENV-->
    <add key="TEST_DATA_SHEET_NAME" value="TEST_DATA_DEV"/>

    <!-- TIME OUT PARAMETERS FOR WEB AND DESKTOP APPLICATIONS -->
    <add key="GLOBAL_TIMEOUT_TIME_IN_MSEC" value="5000"/>
    <add key="START_APPLICATION_TIMEOUT_TIME_IN_MSEC" value="60000"/>
    <add key="MEASURE_RESPONSE_TIME" value="false"/>

    <!-- RERUN FAILED TEST CASES-->
    <add key="PATH_NUNIT_PACKAGE_CONSOLE_EXE" value="packages\NUnit-2.6.2\NUnit-2.6.2\bin\nunit-console.exe /run:"/>
    <add key="PATH_SAF_DLL_BIN_DEBUG" value="\bin\Debug\"/>
    <add key="PATH_RERUN_FAILED_TEST_CASES_FOLDER" value="C:/Dev/Jenkins/ReRunFailedTestCases/"/>

  </appSettings>
</configuration>